.App {
  text-align: center;
}


.App-container {
  background-size: cover; /* Adjust the image size to cover the entire container */
  background-position: center top ; /* Center the background image */
  height: 100vh; /* Set the container height (example: 100% of viewport height) */
  display: flex;
  justify-content: center;
  align-items: center;
  color: white; /* Set text color for better visibility */
}
.Date {
  text-align: center;
}
.Start, .Restart {
  background-color: 'transparent';
  border: 'none';
  color: 'white';
   

}





.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* background-image: url('/public/mc_1500.jpeg');
  background-position: center;
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto; */
  
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
